* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #060606;
  --second-bg-color: #100f0f;
  --main-color: #b5a8d5;
  --text-size-large: 4rem;
  --text-size-medium: 2.5rem;
  --text-size-small: 1.5rem;
}
html {
  scroll-behavior: smooth;
}
body {
  text-decoration: none;
  list-style-type: none;
  color: white;
}
section {
  min-height: 100vh;
  padding: 6rem 4rem;
}
.heading {
  font-size: var(--text-size-large);
  color: var(--main-color);
  text-align: center;
  margin-bottom: 2rem;
}
#menu-icon {
  display: none;
}
.header {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  font-size: 1.45rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: 80px;
  align-items: center;
  position: fixed;

  width: 100%;
  z-index: 10;
}
.nav-links {
  display: flex;
  gap: 3rem;
  list-style-type: none;
  margin-right: 67px;
}
.nav-links a {
  text-decoration: none;
  color: white;
}
.logo {
  margin-right: auto;
}
.service {
  background-color: var(--bg-color);
}
.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.service-content {
  border: 5px solid var(--main-color);
  border-radius: 1rem;
  font-size: 20px;
  width: 350px;
  padding: 1rem 2rem;
  text-align: center;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-color);
  color: #000;
  box-shadow: 0 0 25px var(--main-color);
}
.service-content:hover {
  background-color: black;
  color: #fff;
  transition: 0.6s ease-in-out;
  transform: scale(1.02);
}
.service-content i {
  font-size: 5rem;
}
.service-content h3 {
  font-size: var(--text-size-medium);
  margin: 1rem 0rem;
}
.service-content p {
  font-size: var(--text-size-small);
  line-height: 1.3;
}
.contact {
  background-color: var(--second-bg-color);
}
.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 5rem 0;
  text-align: center;
}
.input-box input,
.contact form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.5rem;
  color: var(--main-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1rem 0;
  resize: none;
}
.btn {
  padding: 1rem 3rem;
  background-color: var(--main-color);
  border-radius: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  border: 2px solid transparent;
  box-shadow: 0 0 25px var(--main-color);
}
footer {
  background: linear-gradient(
    to bottom,
    var(--bg-color),
    var(--second-bg-color)
  );
  padding: 50px;
}
footer ul {
  text-decoration: none;
  text-align: center;
  flex-direction: row;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  gap: 2rem;
}
footer li {
  list-style-type: none;
  gap: 2rem;
  text-align: center;
  font-weight: 900;
}
footer li a {
  text-decoration: none;
  color: gold;
  font-size: 30px;
}
footer p {
  font-size: 25px;
  text-align: center;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: gold;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./Tomiwa\ football\ logo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.5658);
  z-index: 2;
}
.hero-content {
  z-index: 5;
  text-align: center;
}
h1 {
  font-size: 2.589rem;
  color: #b5a8d5;
}
.hero p {
  font-size: 2rem;
}
.nav-links a:hover {
  color: #b5a8d5;
  font-size: 1.5rem;
}
.about {
  display: flex;
  font-size: 1.7rem;
  background-color: var(--second-bg-color);
  gap: 4rem;
}
.about img {
  box-shadow: 0px 0px 25px var(--main-color);
  width: 32vw;
}
.about img:hover {
  box-shadow: 0px 0px 50px var(--main-color), 0px 0px 100px var(--main-color);
  cursor: pointer;
}
.about h2 {
  color: var(--main-color);
  font-size: 4rem;
}
@media screen and (max-width: 1285px) {
  #menu-icon {
    display: block;
    color: var(--main-color);
    font-size: 2.5rem;
    margin-right: 2rem;
  }
  .nav-links {
    /* width: 50%; */
    border-left: 2px var(--main-color) solid;
    border-bottom: 2px var(--main-color) solid;
    display: none;
    position: absolute;
    top: 100%;
    right: -15%;
    width: 50%;
    background-color: black;
    border-bottom-left-radius: 2rem;
  }
   .nav-links.active{
    display: block;
  }
  .nav-links li {
    font-size: 2rem;
    margin: 2rem;
  }
  .nav-links a:hover {
    color: #b5a8d5;
    font-size: 2rem;
  }
  .about {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: start;
    text-align: center;
  }
  .about img {
    width: 56vw;
  }
  .about p {
    font-size: 1.25rem;
  }
  .services-container {
    flex-direction: column;
    gap: 4rem;
  }
  .contact form {
    flex-direction: column;
  }
  footer ul {
    flex-direction: column;
  }
}
